*{
    padding: 0%;
    margin: 0%;
   
}
#outerbox{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    
}
#innerbox{
    display: flex;
    background-color: white;
    width: 50%;
    height: 500px;
    background-image: "https://static-assets-web.flixcart.com/fk-p-linchpin-web/fk-cp-zion/img/login_img_c4a81e.png";
    
}
.leftinnerbox{
    background-color: #2874F0;
    font-family: sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
    
    
}
.rightinnerbox{
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
}
.name{
    width: 70%; margin-top: 10px;height: 25px;
    outline: 0;
    border-width: 0 0 2px;
    border-color: gray
}
.name:focus{
    outline:0;
    border-width: 0 0 2px;
    border-color: black
}
.mobile{
    width: 70%; margin-top: 10px;height: 25px;
    outline: 0;
    border-width: 0 0 2px;
    border-color: gray
}
.mobile:focus{
    outline: 0;
    border-width: 0 0 2px;
    border-color: black;
}
.continue:hover{
    cursor: pointer;
    
}
.password{
    width: 70%; margin-top: 10px;height: 25px;
    outline: 0;
    border-width: 0 0 2px;
    border-color: gray
}
.password:focus{
    outline: 0;
    border-width: 0 0 2px;
    border-color: black;
}